[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PhenoSpectra"]
	path = PhenoSpectra
	url = https://github.com/cran/PhenoSpectra
